@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
body{
    margin: 0;
    background: #eee;
}
body, h1, a, li, p{
    font-family: 'Quicksand', sans-serif !important;
}
.bg-light {
    background: rgba(120, 123, 125, 0.86)!important;
}
.bg-dark {
    background: rgba(0, 0, 0, 0.8)!important;
    padding-top: 0;
    padding-bottom: 0;
}
.bg-dark .nav-item{
    font-size: 0.7rem;
}
#map{
	width: 100vw;
	height: 100vh;
}
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom{
    bottom: 160px !important;
}
#find-location{
    width: 100%;
}
#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    height: 35px;
    margin-top: 20px;
    margin-left: 15px;
}
.gm-style img[src^="https://avatar"]{
    border-radius: 50%;
}
.btn-register{
    width: 200px;
    background: #444;
    color: #fff;
}
.btn-register svg{
    float: left;
    margin-left: 2px;
    margin-top: -1px;
}
.btn-register span{
    margin-left: 5px;
}
.container.center-align{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.col-md-12.form{
    background: #fff;
    padding: 50px;
}
.col-md-12.logo{
    text-align: center;
    margin: 40px 0;
}
.col-form-legend{
    float: left;
}
.datepicker{
    padding: .5rem .75rem;
}
.form-check-inline{
    margin-top: 5px;
}
.col-form-legend{
    padding-left: 0;
}

