
// Body
$body-bg: #eee;


// Brands
$white: #fff;
$dark:#444;

$bg-light: rgba(63, 115, 148, 0.86) !important;
$bg-dark: rgba(19, 21, 123, 0.8) !important;

// Typography
$font-family-sans-serif: 'Quicksand', sans-serif !important;
// $font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
