
// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body{
    margin: 0;
    background: $body-bg;
}
body, h1, a, li, p{
    font-family: $font-family-sans-serif;
}
.no-padding{
    padding: 0;
    margin: 0;
}
.bg-light {
    background: $bg-light;
}
.bg-dark {
    background: $bg-dark;
    padding-top: 0;
    padding-bottom: 0;
}
.bg-dark{
	.nav-item{
	    font-size: 0.7rem;
	}
}
#map{
	width: 100vw;
	height: 100vh;
}
.gmnoprint.gm-bundled-control.gm-bundled-control-on-bottom{
    bottom: 160px !important;
}
#find-location{
    width: 100%;
}
#pac-input {
    background-color: $white;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
    height: 35px;
    margin-top: 20px;
    margin-left: 15px;
}
.gm-style img[src^="https://avatar"]{
    border-radius: 50%;
}
.btn-register{
    width: 200px;
    background: $dark;
    color: $white;
}
.btn-register:hover{
    color: $white;
}
.btn-register{
	svg{
	    float: left;
	    margin-left: 2px;
	    margin-top: -1px;
	}
}
.btn-register{
	span{
	    margin-left: 5px;
	}
}
.col-3.form{
    height: 100vh;
    background-color: $white;
    padding: 20px;
}
.col-md-12.image{
    text-align: center;
    margin: 5px 0 30px;
}
.col-form-legend{
    float: left;
}
.datepicker{
    padding: .5rem .75rem !important;
}
.form-check-inline{
    margin-top: 5px;
}
.col-form-legend{
    padding-left: 0;
}
#register-map{
    height: 100vh;
    width: 100%;
}
.has-error{
	input, textarea{
		border-color: #dc3545;
	}

}
.has-success{
	input, textarea{
		border-color: #28a745;
	}
}
.error-help-block{
	color: #dc3545;
}
.alert-success {
    position: absolute;
    border-radius: 0;
    z-index: 10000;
    width: 100%;
    padding: 0.55rem 1.25rem;
    height: 50px;
}
.alert-dismissible .close{
    padding: 0.75rem 0 0 0;
    cursor: pointer;
}

/* Overlay style */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $overlay-bg;
    z-index: 10000;
}

.content {
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.content.overlay-open {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}
.overlay-content {
    visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
    transition: transform 0.5s, visibility 0s 0.5s;
}

.overlay-content.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}
.overlay{
    .overlay-close {
        width: 32px;
        height: 32px;
        position: absolute;
        right: 40px;
        top: 40px;
        overflow: hidden;
        border: none;
        background: url("../images/cross.png") no-repeat center center;
        text-indent: 200%;
        color: transparent;
        outline: none;
        z-index: 100;
        cursor: pointer;
    }
    .row{
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .form{
        padding: 50px;
    }
    input.form-control, textarea.form-control, input.form-control:focus{
        background-color:$input-bg-dark;
        color: $gray;
    }
    input.form-control:focus, textarea.form-control:focus{
        border-color: $black;
        color: $gray;
    }
    button, button:hover{
        background-color:$dark;
        border: none;
    }
    button{
        color: $gray
    }
}